<ion-content>
  <div
    class="flex flex-col items-center h-full px-8 bg-white dark:bg-black min-h-full flex-grow"
  >
    <form
      (ngSubmit)="handleLogin($event)"
      class="flex flex-col justify-center items-center space-y-6 pt-32 w-full"
    >
      <h1 class="text-black dark:text-white text-4xl font-body pb-16">
        TeLlevoAPP
      </h1>
      <h2 class="text-black dark:text-white text-2xl font-body">
        Inicia sesión
      </h2>
      <div class="w-full space-y-6">
        <div class="w-full h-[65px]">
          <input
            [(ngModel)]="email"
            name="email"
            autocomplete
            type="email"
            class="flex w-full text-black dark:text-white p-3 rounded-md bg-background border border-solid border-input hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder="Correo electrónico"
          />
          <p
            *ngIf="errorMessage"
            class="mt-2 text-sm text-red-600 dark:text-red-500"
          >
            <span class="font-medium">¡Error!</span> Debes ingresar un correo
            válido.
          </p>
        </div>

        <button
          type="submit"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-12 px-4 py-2 w-full"
        >
          Continuar
        </button>
      </div>
    </form>
    <form
      (ngSubmit)="handleOAuth($event)"
      class="flex flex-col justify-center items-center space-y-2 pb-16 w-full"
    >
      <div class="relative flex pt-5 items-center">
        <div class="inline-flex items-center justify-center w-full">
          <hr
            class="w-64 h-px my-8 bg-neutral-800 dark:bg-neutral-300 border-0"
          />
          <span
            class="absolute px-3 font-medium text-neutral-800 dark:text-gray-300 -translate-x-1/2 left-1/2 bg-white dark:bg-black"
            >O</span
          >
        </div>
      </div>
      <button
        type="submit"
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-12 px-4 py-2 w-full"
      >
        Continuar con Google
      </button>
    </form>
  </div>
</ion-content>
