<ion-content class="h-screen">
  <div
    class="flex flex-col items-center justify-center min-h-screen px-8 bg-white dark:bg-black"
  >
    <h1 class="text-black dark:text-white text-2xl font-body pb-8 text-center">
      ¡Bievenido a Te Llevo App!
    </h1>
    <div class="w-full space-y-4 flex flex-col max-w-64">
      <h2 class="text-black dark:text-white text-2xl font-body text-center">
        Registrarse como
      </h2>
      <button
        id="modal-passenger"
        class="bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 border border-input border-solid inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        Pasajero
      </button>
      <button
        id="modal-driver"
        class="bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 border border-input border-solid inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        Conductor
      </button>
      <ion-modal #modal1 trigger="modal-passenger">
        <ng-template>
          <ion-header>
            <div
              class="flex flex-row bg-gray-200 dark:bg-mainblack justify-between py-2 items-center"
            >
              <button
                class="ml-2 border border-input bg-background hover:bg-accent text-black dark:text-white hover:text-accent-foreground h-10 px-4 py-2 border-solid inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                (click)="modal1.dismiss()"
              >
                Volver
              </button>
            </div>
          </ion-header>
          <ion-content class="bg-white dark:bg-black">
            <form
              class="flex flex-col bg-white dark:bg-black w-full h-full scroll-auto px-8"
            >
              <div class="py-2">
                <h2 class="text-black dark:text-white text-lg">
                  Información personal
                </h2>
              </div>
              <div class="flex flex-col space-y-6">
                <div class="flex flex-col">
                  <label
                    for="name"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Nombre</label
                  >
                  <input
                    id="name"
                    type="text"
                    name="name"
                    [(ngModel)]="profile.name"
                    class="text-black dark:text-white p-3 rounded-md bg-background border border-solid border-input hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  />
                </div>
                <div class="flex flex-col">
                  <label
                    for="last_name"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Apellido Paterno</label
                  >
                  <input
                    id="last_name"
                    type="text"
                    name="last_name"
                    [(ngModel)]="profile.last_name"
                    class="text-black dark:text-white p-3 rounded-md bg-background border border-solid border-input hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  />
                </div>
                <div class="flex flex-col">
                  <label
                    for="second_last_name"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Apellido Materno</label
                  >
                  <input
                    id="second_last_name"
                    type="text"
                    name="second_last_name"
                    [(ngModel)]="profile.second_last_name"
                    class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  />
                </div>
              </div>
              <div class="py-2">
                <h2 class="text-black dark:text-white text-lg">Dirección</h2>
              </div>
              <div class="flex flex-col space-y-6">
                <div class="flex flex-col">
                  <label
                    for="address"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Calle</label
                  >
                  <input
                    [(ngModel)]="profile.address"
                    type="text"
                    name="address"
                    id="address"
                    class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  />
                </div>
                <div class="flex gap-4 w-full">
                  <div class="flex flex-col flex-1">
                    <label
                      for="address_number"
                      class="mb-2 text-sm font-body text-black dark:text-white"
                      >Número</label
                    >
                    <input
                      [(ngModel)]="profile.address_number"
                      type="text"
                      name="address_number"
                      id="address_number"
                      class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                      required
                    />
                  </div>
                  <div class="flex flex-col flex-1">
                    <label
                      for="apartment"
                      class="mb-2 text-sm font-body text-black dark:text-white"
                      >Casa / Depto</label
                    >
                    <input
                      [(ngModel)]="profile.apartment"
                      type="text"
                      name="apartment"
                      id="apartment"
                      class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    />
                  </div>
                </div>
                <div class="flex flex-col">
                  <label
                    for="region"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Región</label
                  >
                  <select
                    id="region"
                    type="text"
                    name="region"
                    [(ngModel)]="profile.region"
                    (change)="onRegionChange($event)"
                    class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  >
                    <option value="" disabled>Selecciona una región</option>
                    <option
                      *ngFor="let region of regions"
                      [value]="region.region"
                    >
                      {{ region.region }}
                    </option>
                  </select>
                </div>
                <div class="flex flex-col">
                  <label
                    for="comuna"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Comuna</label
                  >
                  <select
                    id="comuna"
                    type="text"
                    name="comuna"
                    [(ngModel)]="profile.comuna"
                    [disabled]="!profile.region"
                    (change)="onComunaChange($event)"
                    class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  >
                    <option value="" disabled>Selecciona una comuna</option>
                    <option *ngFor="let comuna of comunas" [value]="comuna">
                      {{ comuna }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="flex w-full pt-8">
                <button
                  class="w-full bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 border border-input border-solid flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                  (click)="updateProfile()"
                >
                  Continuar
                </button>
              </div>
              <div
                class="flex text-wrap text-center text-black dark:text-white py-6"
              >
                <p class="text-sm">
                  Al continuar, aceptas los
                  <a href="#" class="text-blue-600 hover:underline"
                    >términos y condiciones</a
                  >
                  y la
                  <a href="#" class="text-blue-600 hover:underline"
                    >política de privacidad</a
                  >
                </p>
              </div>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-modal #modal2 trigger="modal-driver">
        <ng-template>
          <ion-header>
            <div
              class="flex flex-row bg-gray-200 dark:bg-mainblack justify-between py-2 items-center"
            >
              <button
                class="ml-2 border border-input bg-background hover:bg-accent text-black dark:text-white hover:text-accent-foreground h-10 px-4 py-2 border-solid inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                (click)="modal2.dismiss()"
              >
                Volver
              </button>
            </div>
          </ion-header>
          <ion-content class="ion-content-bg">
            <form
              class="flex flex-col bg-white dark:bg-black w-full h-full scroll-auto px-8 justify-between"
            >
              <div class="py-2">
                <h2 class="text-black dark:text-white text-lg">
                  Información personal
                </h2>
              </div>
              <div class="flex flex-col space-y-6">
                <div class="flex flex-col">
                  <label
                    for="name"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Nombre</label
                  >
                  <input
                    id="name"
                    type="text"
                    name="name"
                    [(ngModel)]="profile.name"
                    class="text-black dark:text-white p-3 rounded-md bg-background border border-solid border-input hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  />
                </div>
                <div class="flex flex-col">
                  <label
                    for="last_name"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Apellido Paterno</label
                  >
                  <input
                    id="last_name"
                    type="text"
                    name="last_name"
                    [(ngModel)]="profile.last_name"
                    class="text-black dark:text-white p-3 rounded-md bg-background border border-solid border-input hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  />
                </div>
                <div class="flex flex-col">
                  <label
                    for="second_last_name"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Apellido Materno</label
                  >
                  <input
                    id="second_last_name"
                    type="text"
                    name="second_last_name"
                    [(ngModel)]="profile.second_last_name"
                    class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  />
                </div>
              </div>
              <div class="py-2">
                <h2 class="text-black dark:text-white text-lg">Dirección</h2>
              </div>
              <div class="flex flex-col space-y-6">
                <div class="flex flex-col">
                  <label
                    for="address"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Calle</label
                  >
                  <input
                    [(ngModel)]="profile.address"
                    type="text"
                    name="address"
                    id="address"
                    class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  />
                </div>
                <div class="flex gap-4 w-full">
                  <div class="flex flex-col flex-1">
                    <label
                      for="address_number"
                      class="mb-2 text-sm font-body text-black dark:text-white"
                      >Número</label
                    >
                    <input
                      [(ngModel)]="profile.address_number"
                      type="number"
                      name="address_number"
                      id="address_number"
                      class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                      required
                    />
                  </div>
                  <div class="flex flex-col flex-1">
                    <label
                      for="apartment"
                      class="mb-2 text-sm font-body text-black dark:text-white"
                      >Casa / Depto</label
                    >
                    <input
                      [(ngModel)]="profile.apartment"
                      type="text"
                      name="apartment"
                      id="apartment"
                      class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    />
                  </div>
                </div>
                <div class="flex flex-col">
                  <label
                    for="region"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Región</label
                  >
                  <select
                    id="region"
                    type="text"
                    name="region"
                    [(ngModel)]="profile.region"
                    (change)="onRegionChange($event)"
                    class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  >
                    <option value="" disabled>Selecciona una región</option>
                    <option
                      *ngFor="let region of regions"
                      [value]="region.region"
                    >
                      {{ region.region }}
                    </option>
                  </select>
                </div>
                <div class="flex flex-col">
                  <label
                    for="comuna"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Comuna</label
                  >
                  <select
                    id="comuna"
                    type="text"
                    name="comuna"
                    [(ngModel)]="profile.comuna"
                    [disabled]="!profile.region"
                    (change)="onComunaChange($event)"
                    class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    required
                  >
                    <option value="" disabled>Selecciona una comuna</option>
                    <option *ngFor="let comuna of comunas" [value]="comuna">
                      {{ comuna }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="py-2">
                <h2 class="text-black dark:text-white text-lg">
                  Información Vehículo
                </h2>
              </div>
              <div class="flex flex-col space-y-6">
                <div class="flex flex-col flex-1">
                  <label
                    for="license_plate"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Patente</label
                  >
                  <input
                    [(ngModel)]="vehicle.license_plate"
                    type="text"
                    name="license_plate"
                    id="license_plate"
                    class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                  />
                </div>
                <div class="flex flex-col flex-1">
                  <label
                    for="brand"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Marca</label
                  >
                  <input
                    [(ngModel)]="vehicle.brand"
                    type="text"
                    name="brand"
                    id="brand"
                    class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                  />
                </div>
                <div class="flex flex-col flex-1">
                  <label
                    for="model"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Modelo</label
                  >
                  <input
                    [(ngModel)]="vehicle.model"
                    type="text"
                    name="model"
                    id="model"
                    class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                  />
                </div>
                <div class="flex flex-col flex-1">
                  <label
                    for="color"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Color</label
                  >
                  <input
                    [(ngModel)]="vehicle.color"
                    type="text"
                    name="color"
                    id="color"
                    class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                  />
                </div>
                <div class="flex flex-col flex-1">
                  <label
                    for="year"
                    class="mb-2 text-sm font-body text-black dark:text-white"
                    >Año</label
                  >
                  <input
                    [(ngModel)]="vehicle.year"
                    type="number"
                    name="year"
                    id="year"
                    class="w-full text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                  />
                </div>
              </div>
              <div class="flex w-full pt-8">
                <button
                  class="w-full bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 border border-input border-solid flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                  (click)="updateDriver()"
                >
                  Continuar
                </button>
              </div>
              <div
                class="flex text-wrap text-center text-black dark:text-white py-6"
              >
                <p class="text-sm">
                  Al continuar, aceptas los
                  <a href="#" class="text-blue-600 hover:underline"
                    >términos y condiciones</a
                  >
                  y la
                  <a href="#" class="text-blue-600 hover:underline"
                    >política de privacidad</a
                  >
                </p>
              </div>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>
</ion-content>
