<ion-content>
  <div
    class="flex flex-col justify-between items-center h-full px-4 bg-white dark:bg-black min-h-full space-y-6 pt-8"
  >
    <div class="flex flex-col justify-center items-center pb-8 space-y-8">
      <h1 class="text-4xl font-body text-black dark:text-white">Perfil</h1>
      <app-avatar
        [avatarUrl]="this.profile.avatar_url"
        (upload)="handleUpload($event)"
      ></app-avatar>
      <form class="flex flex-col">
        <div
          *ngIf="!loading"
          class="flex flex-col justify-center items-center space-y-6"
        >
          <div class="flex flex-col w-full">
            <label
              for="profile"
              class="mb-2 text-sm font-body text-black dark:text-white font-bold"
              >Nombre</label
            >
            <div class="relative w-full">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none w-full"
              >
                <svg
                  class="w-6 h-6 text-black dark:text-gray-200"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm10 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-8-5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm1.942 4a3 3 0 0 0-2.847 2.051l-.044.133-.004.012c-.042.126-.055.167-.042.195.006.013.02.023.038.039.032.025.08.064.146.155A1 1 0 0 0 6 17h6a1 1 0 0 0 .811-.415.713.713 0 0 1 .146-.155c.019-.016.031-.026.038-.04.014-.027 0-.068-.042-.194l-.004-.012-.044-.133A3 3 0 0 0 10.059 14H7.942Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                readonly
                [(ngModel)]="fullname"
                type="text"
                name="profile"
                id="profile"
                class="text-black dark:text-white truncate block p-3 ps-10 pe-12 min-w-72 z-20 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                placeholder="Juan Silva Hernández"
              />
              <button
                id="modal-name"
                class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white bg-mainyellow rounded-e-lg border-solid border border-input hover:scale-105 active:scale-95"
              >
                <svg
                  class="w-6 h-6 text-black"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                  />
                </svg>
              </button>
            </div>
          </div>

          <ion-modal #modal1 trigger="modal-name">
            <ng-template>
              <ion-header>
                <div
                  class="flex flex-row bg-gray-200 dark:bg-mainblack justify-between py-2 items-center"
                >
                  <h2 class="pl-4 my-auto text-black dark:text-white text-lg">
                    Editar perfil
                  </h2>
                  <button
                    class="p-2 mr-2 rounded-lg bg-mainyellow hover:scale-105 active:scale-95"
                    (click)="modal1.dismiss()"
                  >
                    <svg
                      class="w-6 h-6 text-black"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18 17.94 6M18 18 6.06 6"
                      />
                    </svg>
                  </button>
                </div>
              </ion-header>
              <ion-content>
                <form
                  class="flex flex-col bg-white dark:bg-black w-full h-full px-8 pt-8 justify-between"
                >
                  <div class="flex flex-col space-y-6">
                    <div class="flex flex-col">
                      <label
                        for="names"
                        class="mb-2 text-sm font-body text-black dark:text-white"
                        >Nombres</label
                      >
                      <input
                        id="names"
                        type="text"
                        name="names"
                        [(ngModel)]="profile.name"
                        class="text-black dark:text-white p-3 rounded-md bg-background border-solid border border-input hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        required
                      />
                    </div>
                    <div class="flex flex-col">
                      <label
                        for="last_name"
                        class="mb-2 text-sm font-body text-black dark:text-white"
                        >Apellido Paterno</label
                      >
                      <input
                        id="last_name"
                        type="text"
                        name="last_name"
                        [(ngModel)]="profile.last_name"
                        class="text-black dark:text-white p-3 rounded-md bg-background border-solid border border-input hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        required
                      />
                    </div>
                    <div class="flex flex-col">
                      <label
                        for="second_last_name"
                        class="mb-2 text-sm font-body text-black dark:text-white"
                        >Apellido Materno</label
                      >
                      <input
                        id="second_last_name"
                        type="text"
                        name="second_last_name"
                        [(ngModel)]="profile.second_last_name"
                        class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        required
                      />
                    </div>
                  </div>
                  <div class="flex pb-8">
                    <button
                      (click)="updateProfile()"
                      class="border border-input border-solid bg-background hover:bg-accent hover:text-accent-foreground bg-white dark:bg-background mx-auto px-4 py-4 rounded-md w-full text-sm text-center text-black dark:text-white ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                    >
                      Actualizar
                    </button>
                  </div>
                </form>
              </ion-content>
            </ng-template>
          </ion-modal>

          <div class="flex flex-col">
            <label
              for="address"
              class="mb-2 text-sm font-body text-black dark:text-white font-bold"
              >Dirección</label
            >
            <div class="relative w-full">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-black dark:text-gray-100"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                readonly
                [(ngModel)]="fulladdress"
                type="text"
                name="address"
                id="address"
                class="text-black dark:text-white truncate block p-3 ps-10 pe-12 min-w-72 z-20 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                placeholder="Antonio Varas 666, Providencia"
              />
              <button
                id="modal-address"
                class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white border-input bg-mainyellow rounded-e-lg border-solid border hover:scale-105 active:scale-95"
              >
                <svg
                  class="w-6 h-6 text-black"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                  />
                </svg>
              </button>
            </div>
          </div>

          <ion-modal #modal2 trigger="modal-address">
            <ng-template>
              <ion-header>
                <div
                  class="flex flex-row bg-gray-200 dark:bg-mainblack justify-between py-2 items-center"
                >
                  <h2 class="pl-4 my-auto text-black dark:text-white text-lg">
                    Editar dirección
                  </h2>
                  <button
                    class="p-2 mr-2 rounded-lg bg-mainyellow hover:scale-105 active:scale-95"
                    (click)="modal2.dismiss()"
                  >
                    <svg
                      class="w-6 h-6 text-black"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18 17.94 6M18 18 6.06 6"
                      />
                    </svg>
                  </button>
                </div>
              </ion-header>
              <ion-content>
                <form
                  class="flex flex-col bg-white dark:bg-black w-full h-full px-8 pt-8 justify-between"
                >
                  <div class="flex flex-col space-y-6">
                    <div class="flex flex-col">
                      <label
                        for="region"
                        class="mb-2 text-sm font-body text-black dark:text-white"
                        >Región</label
                      >
                      <select
                        id="region"
                        type="text"
                        name="region"
                        [(ngModel)]="profile.region"
                        (change)="onRegionChange($event)"
                        class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        required
                      >
                        <option value="" disabled>Selecciona una región</option>
                        <option
                          *ngFor="let region of regions"
                          [value]="region.region"
                        >
                          {{ region.region }}
                        </option>
                      </select>
                    </div>
                    <div class="flex flex-col">
                      <label
                        for="comuna"
                        class="mb-2 text-sm font-body text-black dark:text-white"
                        >Comuna</label
                      >
                      <select
                        id="comuna"
                        type="text"
                        name="comuna"
                        [(ngModel)]="profile.comuna"
                        [disabled]="!profile.region"
                        (change)="onComunaChange($event)"
                        class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        required
                      >
                        <option value="" disabled>Selecciona una comuna</option>
                        <option *ngFor="let comuna of comunas" [value]="comuna">
                          {{ comuna }}
                        </option>
                      </select>
                    </div>
                    <div class="flex flex-col">
                      <label
                        for="address_line"
                        class="mb-2 text-sm font-body text-black dark:text-white"
                        >Calle</label
                      >
                      <input
                        id="address_line"
                        type="text"
                        name="address_line"
                        [(ngModel)]="profile.address"
                        class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        required
                      />
                    </div>
                    <div class="flex flex-col">
                      <label
                        for="address_number"
                        class="mb-2 text-sm font-body text-black dark:text-white"
                        >Número</label
                      >
                      <input
                        id="address_number"
                        type="number"
                        name="address_number"
                        [(ngModel)]="profile.address_number"
                        class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foreground text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        required
                      />
                    </div>
                    <div class="flex flex-col">
                      <label
                        for="apartment"
                        class="mb-2 text-sm font-body text-black dark:text-white"
                        >Departamento / Casa</label
                      >
                      <input
                        id="apartment"
                        type="text"
                        name="apartment"
                        [(ngModel)]="profile.apartment"
                        class="text-black dark:text-white p-3 rounded-md border-solid border border-input bg-background hover:bg-accent hover:text-accent-foregroundv text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                      />
                    </div>
                  </div>
                  <div class="flex pb-8">
                    <button
                      (click)="updateAddress()"
                      class="border border-input border-solid bg-background hover:bg-accent hover:text-accent-foreground bg-white dark:bg-background mx-auto px-4 py-4 rounded-md w-full text-sm text-center text-black dark:text-white ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                    >
                      Actualizar
                    </button>
                  </div>
                </form>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>

        <div *ngIf="loading" class="flex items-center justify-center w-56 h-56">
          <div role="status">
            <svg
              aria-hidden="true"
              class="w-8 h-8 animate-spin text-gray-600 fill-blue-600"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill"
              />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    message="¡Perfil actualizado correctamente!"
    [duration]="3000"
    (didDismiss)="setOpen(false)"
    swipeGesture="vertical"
  ></ion-toast>
</ion-content>
