<ion-content>
  <div class="flex flex-col justify-between items-center h-full px-8 bg-black min-h-full space-y-6 pt-8">
    <div class="flex flex-col justify-center items-center pb-8 space-y-8 w-full">
      <h1 class="text-4xl">
        Ajustes
      </h1>
      <button (click)="signOut()" class="shadow-lg border-0 font-body bg-white hover:bg-gray-200 active:bg-gray-300 rounded-md px-8 py-4 text-black font-semibold text-md transition hover:scale-105 active:scale-95 w-full">Cerrar Sesión</button>
    </div>
  </div>
</ion-content>
